.page {
  display: flex;
  min-width: 500px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.content-container {
  width: 100%;
  padding: 1rem;
  input {
    height: 30px;
    border-radius: 8px;
    padding: 0px 25px;
    min-width: 500px;
    border: 1px solid rgb(226, 223, 223);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sidebar {
  box-sizing: border-box;
  min-width: 20%;
  padding: 20px;
  padding-top: 0;
  border-right: 1px solid rgb(240, 234, 234);
  ul {
    list-style-type: none;
    text-align: left;
  }
  li {
    padding: 10px 20px;
    border-radius: 10px;
  }
  li:hover {
    background: rgb(206, 202, 202);
  }
  a {
    color: black;
  }
}

.create-btn {
  background: rgb(25, 152, 211);
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  li:hover {
    background: rgb(25, 152, 211);
   }
}