.variables {
    --background-colour: rgb(23, 23, 63);
}

input {
    box-sizing: border;
    height: 35px;
    font-size: 18px;
    background: var(--background-colour);
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

input::placeholder {
    color: white;
    opacity: .75;
}