.postcard {
    border-radius: 10px;
    margin: 20px;
    min-height: 100px;
    border: 1px solid rgb(239, 235, 235);
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.postcard-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgb(239, 235, 235);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bolder;

    .tag {
        font-size: 0.75rem;
        font-weight: bolder;
        display: flex;
        align-items: center;
        padding: 0 15px;
        font-weight: lighter;
        border-radius: 5px;
    }

    .draft {
        color: white;
        background: #929292;
    }

    .published {
        color: white;
        background: #1e7be4;
    }

    .title {
        padding: 0;
        margin: 0;
    }
}

.postcard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30px;
}

.date {
    font-weight: lighter;
    font-size: .75rem;
    color: grey;
    padding: 5px 0;
    display: flex;
    align-items: center;
    margin: 0px 20px;
    p {
        margin: 0;
        padding: 0;
    }
}

.header-tags {
    display: flex;
    align-items: center;
    max-height: 30px;
    div,
    button {
        max-height: 35px;
    }

    button {
        padding: 4px 20px;
        border-radius: 5px;
        background: rgb(227, 224, 224);
    }

    img {
        width: 20px;
        display: flex;
        transition: 100ms ease;
        margin: 0px 5px;
        padding: 5px;
        border-radius: 10px;
    }

    img:hover {
        background: rgb(206, 202, 202);
        cursor: pointer;
    }
}
.postcard-content {
    padding: 20px;
    font-size: 0.9rem;
    text-align: left;
}

.header-row1 {
    padding: 0;
    width: fit-content;
}

.header-row2 {
    display: flex;
    justify-content: space-between;
}