.postcard {
    border-radius: 10px;
    margin: 20px;
    min-height: 100px;
    border: 1px solid rgb(239, 235, 235);
}

.postcard-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(239, 235, 235);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bolder;

    .tag {
        font-size: 0.75;
        font-weight: lighter;
        margin: 0px 20px;
        padding: 4px 20px;
        border-radius: 5px;
    }

    .draft {
        color: white;
        background: #e955ac;
        margin: 0px 10px;
    }

    .published {
        margin: 0px 10px;
        color: white;
        background: #1e7be4;
    }

    .title {
        padding: 0;
        margin: 0;
    }
}

.postcard-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    font-weight: lighter;
    font-size: .75rem;
    color: grey;
    padding: 5px 0;
    display: flex;
    align-items: center;
    margin: 0px 20px;
    p {
        margin: 0;
        padding: 0;
    }
}

.header-tags {
    display: flex;
    align-items: center;

    div,
    button {
        max-height: 35px;
    }

    button {
        padding: 4px 20px;
        border-radius: 5px;
        background: rgb(227, 224, 224);
    }

    img {
        width: 20px;
        display: flex;
        transition: 100ms ease;
        margin: 0px 5px;
        padding: 5px;
        border-radius: 10px;
    }

    img:hover {
        background: rgb(206, 202, 202);
        cursor: pointer;
    }
}

.postcard-content {
    padding: 20px;
    font-size: 0.9rem;
    text-align: left;
}